.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px 40px;
background:white;
box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

/* LOGO */

.logo{
display:flex;
align-items:center;
gap:3px;
cursor:pointer;
}

.logo-img{
height:1px;
width:auto;
}

/* TEXTO */

.logo-text{
font-size:22px;
font-weight:700;
color:#1f2937;
}

/* LINKS */

.nav-links{
display:flex;
gap:25px;
align-items:center;
}

.nav-links a{
text-decoration:none;
color:#333;
font-weight:500;
}

.cart{
position:relative;
font-size:20px;
}

.cart-count{
position:absolute;
top:-8px;
right:-10px;
background:#2563eb;
color:white;
border-radius:50%;
padding:3px 7px;
font-size:12px;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px 40px;
  background:white;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

/* contenedor logo */

.logo{
  display:flex;
  align-items:center;
  gap:10px;
  cursor:pointer;
}

/* tamaño real del logo */

.logo-img{
  height:40px !important;
  width:auto !important;
  max-width:150px;
  object-fit:contain;
}