<nav class="navbar">

  <!-- Logo -->

  <div class="brand" routerLink="/">

    <div class="logo-icon">
      T
    </div>

    <span class="brand-name">
      TechStore
    </span>

  </div>

  <!-- Menu -->

  <div class="nav-menu">

    <a routerLink="/">Inicio</a>

    <a routerLink="/productos">Productos</a>

    <a routerLink="/ofertas">Ofertas</a>

  </div>

  <!-- Icons -->

  <div class="nav-icons">

    <span class="icon">👤</span>

    <span class="icon cart" routerLink="/carrito">
      🛒
      <span class="cart-count">
        {{ carrito.totalItems() }}
      </span>
    </span>

  </div>

</nav>