<footer class="bg-gray-900 text-gray-300 mt-20">

<div class="max-w-7xl mx-auto px-6 py-10 grid grid-cols-3 gap-8">

<div>

<h3 class="text-white font-bold mb-3">
TechStore
</h3>

<p class="text-sm">
La mejor tienda de tecnología online
</p>

</div>

<div>

<h3 class="text-white font-bold mb-3">
Enlaces
</h3>

<ul class="space-y-2">

<li>
<a routerLink="/" class="hover:text-white">
Inicio
</a>
</li>

<li>
<a routerLink="/productos" class="hover:text-white">
Productos
</a>
</li>

<li>
<a routerLink="/carrito" class="hover:text-white">
Carrito
</a>
</li>

</ul>

</div>

<div>

<h3 class="text-white font-bold mb-3">
Contacto
</h3>

<p class="text-sm">
contacto@techstore.com
</p>

</div>

</div>

</footer>